aniso8601
audeer
audiofile
audmath
blinker
Brotli
certifi
cffi
charset-normalizer
click
colorama
common
comtypes
contourpy
coverage
cryptography
cycler
decorator
dnspython
filelock
Flask
Flask-Cors
Flask-JWT-Extended
Flask-RESTful
fonttools
fsspec
gunicorn
idna
imageio
imageio-ffmpeg
iniconfig
itsdangerous
Jinja2
joblib
jwt
kiwisolver
MarkupSafe
matplotlib
moviepy
mpmath
networkx
opencv-python
packaging
pandas
pillow
pluggy
proglog
pycparser
pydot
pydub
PyJWT
pymongo
pyparsing
PySocks
pytest
python-dateutil
python-dotenv
requests
seaborn
setuptools
six
soundfile
sympy
tqdm
tzdata
urllib3
Werkzeug
wheel
win-inet-pton
yt-dlp